<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Supermercado+One&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main2.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <div class="top">
          <div class="top-under">
            <a href="home.ejs"><i class="ri-grid-fill navbar"></i></a>
            <a href="home.ejs"><span class="navbar">COLLECTIONS</span></a>
            <a href="Shop.html"><span class="navbar">SHOP</span></a>
            <a href=""><span class="navbar">CONTACT US</span></a>
            <a href="Account.html"><span><i class="navbar ri ri-account-pin-circle-line"></i></span></a>
            <a href=""><span><i class="navbar ri ri-shopping-bag-line"></i></span></a>
          </div>

          <div class="footer-col-1-1">
            <p class="BECH">Bechelor <em class="shop">Shop</em></p>
          </div>
        </div>

        <div class="home-shop">
          <h1>CHILDREN ZONE</h1>
          <p>HOME > CHILDREAN</p>
        </div>

        <hr>
      </nav>
    </div>

    <div class="small-container  cart-page">
            <table>
                <tr>
                    <th>product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
    
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="image/kids-product-10.jpg" alt="">
                            <div>
                                <p>Red Printed Tshirt</p>
                                <small>Price: $50.00</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="image/Ladies-Product-1.jpg" alt="">
                            <div>
                                <p>Red Printed Tshirt</p>
                                <small>Price: $50.00</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$75.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="image/Mens-product-1.jpg" alt="">
                            <div>
                                <p>Red Printed Tshirt</p>
                                <small>Price: $50.00</small>
                                <br>
                                <a href="">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$75.00</td>
                </tr>
            </table>

            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$200.00</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$35.00</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$235.00</td>
                    </tr>
                </table>
            </div>
        </div>

    

    <div class="footer">
        <div class="container">
            <div class="row-4">
                <div class="footer-col-1">
                    <p class="BECH">Bechelor <em class="shop">Shop</em></p>
                </div>
                <div class="footer-col-2">
                    <h4>MENU</h4>
                    <p>COLLECTIONS</p>
                    <P>SHOP</P>
                    <p>BLOG</p>
                    <p>UNISEX</p>
                </div>
                <div class="footer-col-3">
                    <h4>REACH US</h4>
                    <p>CONTACT US</p>
                    <P>FAQ</P>
                    <P>NEWS</P>
                    <P>CARRER</P>
                    <P>INVESTORS</P>
                </div>
                <div class="footer-col-4">
                    <h4>SOCIALS</h4>
                    <a href=""><i class="ri-facebook-circle-fill"></i>
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""><i class="ri-google-fill"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">CopyRight 2022 - BechelorShop</p>
    </div>
  </body>
</html>