<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Supermercado+One&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main2.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <div class="top">
          <div class="top-under">
            <a href="home.ejs"><i class="ri-grid-fill navbar"></i></a>
            <a href="home.ejs"><span class="navbar">COLLECTIONS</span></a>
            <a href="Shop.html"><span class="navbar">SHOP</span></a>
            <a href=""><span class="navbar">CONTACT US</span></a>
            <a href="Account.html"
              ><span><i class="navbar ri ri-account-pin-circle-line"></i></span
            ></a>
            <a href="Cart.html"
              ><span><i class="navbar ri ri-shopping-bag-line"></i></span
            ></a>
          </div>

          <div class="footer-col-1-1">
            <p class="BECH">Bechelor <em class="shop">Shop</em></p>
          </div>
        </div>

        <div class="home-shop">
          <h1>PRODUCT</h1>
          <p>HOME > WOMENS</p>
        </div>

        <hr>
      </nav>
    </div>

    <div class="small-container Single-Product">
      <div class="row">
        <div class="col-2">
          <img src="image/ladies-product-1.jpeg" alt="" width="100%" id="ProductImg" />

          <div class="small-img-row">
            <div class="small-img-col">
              <img
                src="image/ladies-product-1.jpg"
                alt=""
                width="100%"
                class="small-img"
              />
            </div>
            <div class="small-img-col">
              <img
                src="image/ladies-product-1-1.jpeg"
                alt=""
                width="100%"
                class="small-img"
              />
            </div>
            <div class="small-img-col">
              <img
                src="image/ladies-product-1-2.jpeg"
                alt=""
                width="100%"
                class="small-img"
              />
            </div>
            <div class="small-img-col">
              <img
                src="image/ladies-product-1-3.jpeg"
                alt=""
                width="100%"
                class="small-img"
              />
            </div>
          </div>
        </div>
        <div class="col-2">
          <p>Home / T-Shirt</p>
          <h1>Red Printed T-Shirt by HRX</h1>
          <h4>$50.00</h4>
          <select name="" id="">
            <option value="">Select Size</option>
            <option value="">XXL</option>
            <option value="">XL</option>
            <option value="">Large</option>
            <option value="">Medium</option>
            <option value="">Small</option>
          </select>
          <input type="number" name="" id="" value="1" />
          <a href="" class="btn">Add to Cart</a>

          <h3>Product Details <i class="ri ri-indent-increase"></i></h3>
          <br />
          <p>
            Give your summer wardrobe a style upgrade with the HRX Men's Active
            T-shirt. Team it with a pair of shorts for your morning workout or a
            denims for an evening out with the guys.
          </p>
        </div>
      </div>
    </div>

    <div class="small-container">
      <div class="row row-3">
        <h2>Related Products</h2>
        <p>View More</p>
      </div>
    </div>

    <!-- -------------Product--------- -->
    <div class="categories">
      <div class="small-container">
        <div class="row">
          <div class="col-4">
            <img src="image/ladies-product-2.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/ladies-product-3.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/ladies-product-4.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/ladies-product-5.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row-4">
                <div class="footer-col-1">
                    <p class="BECH">Bechelor <em class="shop">Shop</em></p>
                </div>
                <div class="footer-col-2">
                    <h4>MENU</h4>
                    <p>COLLECTIONS</p>
                    <P>SHOP</P>
                    <p>BLOG</p>
                    <p>UNISEX</p>
                </div>
                <div class="footer-col-3">
                    <h4>REACH US</h4>
                    <p>CONTACT US</p>
                    <P>FAQ</P>
                    <P>NEWS</P>
                    <P>CARRER</P>
                    <P>INVESTORS</P>
                </div>
                <div class="footer-col-4">
                    <h4>SOCIALS</h4>
                    <a href=""><i class="ri-facebook-circle-fill"></i>
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""><i class="ri-google-fill"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">CopyRight 2022 - BechelorShop</p>
    </div>
  </body>

  <script src="main.js"></script>
  <!-- <script>

    var ProductImg = document.getElementById("ProductImg");
    var smallImg = document.getElementsByClassName("small-img");

    smallImg[0].onclick = function(){
        ProductImg.src = smallImg[0].src;
    }
    smallImg[1].onclick = function(){
        ProductImg.src = smallImg[1].src;
    }
    smallImg[2].onclick = function(){
        ProductImg.src = smallImg[2].src;
    }
    smallImg[3].onclick = function(){
        ProductImg.src = smallImg[3].src;
    }
</script> -->
</html>