<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Supermercado+One&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main1.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <div class="top">
          <div class="top-under">
            <a href="home.ejs"><i class="ri-grid-fill navbar"></i></a>
            <a href="home.ejs"><span class="navbar">COLLECTIONS</span></a>
            <a href="Shop.html"><span class="navbar">SHOP</span></a>
            <a href=""><span class="navbar">CONTACT US</span></a>
            <a href="Account.html"><span><i class="navbar ri ri-account-pin-circle-line"></i></span></a>
            <a href="Cart.html"><span><i class="navbar ri ri-shopping-bag-line"></i></span></a>
            </div>

          <div class="footer-col-1-1">
            <p class="BECH">Bechelor <em class="shop">Shop</em></p>
          </div>
        </div>

        <div class="home-shop">
          <h1>SHOP</h1>
          <p>HOME > SHOP</p>
        </div>

        <hr>
      </nav>
    </div>

    <div class="row-2">
      <h2>All Products</h2>
      <select name="" id="">
          <option value="">Default Shorting</option>
          <option value="">Short by Price</option>
          <option value="">Short by popularity</option>
          <option value="">Short by rating</option>
          <option value="">Short by sale</option>
      </select>
   </div>
    
    <div class="categories">
      <div class="small-container">
        <div class="row2">
          
          <div class="col-4">
            <a href=""><img src="image/Product1.jpg" alt="" /></a>
            <a href=""><h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product2.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product3.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product4.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product5.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product6.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product7.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-line"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-4">
            <img src="image/Product8.jpg" alt="" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="btn1">VIEW MORE</div>

    <div class="footer">
        <div class="container">
            <div class="row-4">
                <div class="footer-col-1">
                    <p class="BECH">Bechelor <em class="shop">Shop</em></p>
                </div>
                <div class="footer-col-2">
                    <h4>MENU</h4>
                    <p>COLLECTIONS</p>
                    <P>SHOP</P>
                    <p>BLOG</p>
                    <p>UNISEX</p>
                </div>
                <div class="footer-col-3">
                    <h4>REACH US</h4>
                    <p>CONTACT US</p>
                    <P>FAQ</P>
                    <P>NEWS</P>
                    <P>CARRER</P>
                    <P>INVESTORS</P>
                </div>
                <div class="footer-col-4">
                    <h4>SOCIALS</h4>
                    <a href=""><i class="ri-facebook-circle-fill"></i>
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""><i class="ri-google-fill"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">CopyRight 2022 - BechelorShop</p>
    </div>
  </body>
</html>
